@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
	font-family: 'Montserrat', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

/* ---------- BODY ---------- */

body {
	margin: 0;
	background-color: #ebebeb;
	background-image: url("imgs/1.png"), url("imgs/concrete-texture.png");
	background-repeat: no-repeat, repeat;
	font-family: "Roboto", sans-serif;
}

/* ---------- HEADER ---------- */

header {
	min-width: 100%;
	top: 0;
	position: fixed;
	z-index: 900;
}

/* *** MENU BAR *** */

.barreMenu ul
{
	display: flex;
	flex-direction: row;
	margin: 0;
	width: auto;
	vertical-align: middle;
	background-color: white;
	justify-content: center;
}

.barreMenu a
{
	outline: none;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	height: 60px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	color: black;
	letter-spacing: 1px;

	border-style: solid;
	border-color: white;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
}

.barreMenu li{
	list-style: none;
}

.barreMenu a:hover {
	border-color: #4285F4;
}

.btn-navigation {
	position: relative;
	text-align: center;
	height: 55px;
	right: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
}

.btn-navigation .barre {
	width: 25px;
	height: 2px;
	background: black;
	margin-top: 5px;
	z-index: 1000;
	transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
}

/* Changes the button menu color to black when it's clicked */
.btn-navigation .barre.white{
	background: #2c79ff;
}


/* *** BURGER MENU *** */

.navigation {
	position: fixed;
	float: left;
	top: 0;
	left:0;
	z-index: 1000;
	background-color: whitesmoke;
	min-width: 300px;
	max-width: 300px;
	height: 100%;
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

/* Displays the menu when the button menu is clicked */
.navigation.isOpen{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.bgmenuProfil {
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: center;
}

#photoBgmenu {
	width: 35%;
}

.bgmenuPresentation {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-size: 17px;
}

#nom {
	font-family: "Roboto Medium", sans-serif;
	font-size: 19px;
	letter-spacing: 1px;
}

#dev {
	line-height: 25px;
}
.bgmenuPresentation p {
	margin-bottom: 8px;
	margin-top: 8px;
}

.bgmenuPresentation a {
	display: inline-block;
	color: #2c79ff;
	font-size: 25px;
	margin: 4px 10px;
}

.bgmenuPresentation a:hover {
	color: #7EADFF;
}

.bgmenuSectionLiens {
	margin-top: 40px;
}

.bgmenuSectionLiens ul{
	list-style: none;
	padding: 0;
}

.bgmenuSectionLiens li {
	font-size: 17px;
	padding-left: 40px;
	margin-top: 3px;
}

.bgmenuSectionLiens p {
	display: inline-block;
	margin-top: 3px;
	font-size: 17px;
	line-height: 40px;
}
.bgmenuSectionLiens a {
	display: inline-block;
	line-height: 40px;
	font-family: "Roboto Medium", sans-serif;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.bgmenuSectionLiens a:hover{
	color: #546e7a;
}

.btnTelecharger {
	background-color: #546e7a;
	min-width: 55%;
	min-height: 44px;
	text-align: center;
	margin-left: 40px;
	margin-top: 40px;
	border-radius: 4px;
}

.btnTelecharger:hover {
	background-color: #819ca9;
}

.btnTelecharger p {
	display: inline-block;
	margin: 0 2px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-size: 16px;
}

.btnTelecharger a{
	text-decoration: none;
}

/* STORIES */

.espaceCarte {

	text-align: center;
	margin-bottom: 5%;
	width: 100%;
}

.titreStory{
	display: inline-block;
	width: 60%;
	height: 10%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	margin-bottom: 2%;
	vertical-align: center;

}

.titreStory p {
	text-align: center;
	font-family: "Roboto Medium", sans-serif;
	font-size: 19px;
	letter-spacing: 1px;
	line-height: 42px;
	margin: 0;
}

.carte {
	display: inline-block;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#carteStory1 {
	margin-top: 10%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

.footerImg {
	height: 40px;
	margin: 5px 0;
}
